.profil-main {
    width: 100%;
    display: block;
    padding: 10px
}

.personnal-welcome {
    font-size: 40px;
    margin-bottom: 20px;
}

.profil-name {
    color: #FF0101;
}

.personnal-sentence {
    font-size: 15px;
}

.profil-datas-container {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

/* */
.charts-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.second-charts-container {
    height: 43%;
    gap: 25px;
    display: flex;
    flex-direction: row;
}

/* */
.datas-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 30px;
}

.graphic-container,
.datas-container {
    height: 100%;
}