/* Box SideElement */
.box-SideElement {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
}

/* Logo SideElement */
.sideElement-image {
    width: 25px;
}