.asideLayout {
    display: flex;
    flex-direction: column;
    width: 78px;
    background-color: black;
}

.container-SideElement {
    margin: 15px;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside-Copyright {
    font-size: 10px;
    transform: rotate(270deg);
    margin: 15px;
    color: white;
    white-space: nowrap
}