.nutriment-card {
    display: flex;
    background-color: #FBFBFB;
    gap: 16px;
    padding: 20px 10px;
    border-radius: 5px;
}

.nutriment-logo {
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-left: 4px;
}

.nutriment-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.nutriment-p {
    margin: 0;
    color: #74798C;
    font-size: 11px;
}

.nutriment-bold {
    margin-bottom: 3px;
    font-weight: bold;
    color: #282D30;
    font-size: 16px;
}

.logo-flamme {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.07);
}

.logo-chicken {
    width: 60px;
    height: 60px;
    background-color: rgba(74, 184, 255, 0.1);
}

.logo-apple {
    width: 60px;
    height: 60px;
    background-color: rgba(249, 206, 35, 0.1);
}

.logo-cheeseburger {
    width: 60px;
    height: 60px;
    background-color: rgba(253, 81, 129, 0.1);
}