body,
html,
#root {
  margin: 0;
  height: 807px;
  font-family: 'Roboto';
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: 'Roboto';
}

main {
  display: flex;
  height: 100%;
}