/* Page Error */
.error-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
}

/* Titre */
.error-title {
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    color: rgb(170, 169, 169);
}

/* Message d'erreur */
.error {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* Code erreur */
.error-code {
    margin-bottom: 50px;
    font-size: 15px;
}

/* Redirection page d'acceuil */
.backhome-sentence {
    font-size: 15px;
}

/* Lien vers la page d'acceuil */
.backhome-link {
    text-decoration: none;
    color: red;
}